*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
font-family: 'Roboto Slab', serif;
list-style: none;
text-decoration: none;
}

.logo
{
    width: 300px;
}
.add{
    background-color: #00e6f6;
    border:  transparent;
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-weight: 900;
}



.add:hover
{
    background-color: white;
}
.search input
{
   
    height: 45px;
    width: 450px;
    border-radius: 20px;
    font-size: 16px;
    outline-style: none;
   padding: 10px 20px;
    border:  transparent;
}
.search
{
    position: relative;
   
}
.search i
{
    font-size: 30px;
    position: absolute;
    right: 0;
   
    background: #ff0101;
    padding: 8px;
    color: white;
}
header .text li{
 
    display: inline-block;
    list-style: none;
    margin: 15px 15px;
  
   
}

header ul li > a
{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: black;
    text-align: center;
}

header
{
  
   padding:0 100px;
   width: 100%;
  position: fixed;
    margin: auto;
    text-transform: uppercase;
z-index: 100;
    display: flex;
    height: 75px;
   background-color: #f7ed02;
    justify-content: space-between

}



.preview-cart
{
    position: absolute;
    display: none;
    padding: 15px 10px;
    width: 500px;
    right: 0;
    top:55px;
    
    border: black solid;
   
  
}

.miniDetail
{
    margin-top: 10px;
    background-color: black;
    border: #f8f005 solid;
    overflow: hidden;
}

.miniDetail h3
{
    border: #ff0101 solid;
   background-color: #ff01013d;
   color: red;
   padding: 5px;
}
.miniDetail h4
{
    padding: 5px;
    color: white;
}

.preview-cart img
{
  width: 25%;
   float: left;
   border-right: #f8f005 solid;
}

.preview-cart span
{
    color: white;
}

#check
{
    display: none;
}
#check-btn
{
  
}
input:checked ~ header .text
{
   
    right: 0;
}


#text-cart
{
    display: none;
}
.block
{
    height: 75px;
  
    
}
.cyber-btn,.cyber-btn::after
{
   border-bottom-left-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    background-color: #ff0101;
    border: 0;
    color: white;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    cursor: pointer;
}
.cyber-btn::after
{
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(50% -6px 85% 0);
    --slice-4:  inset(50% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Đăng nhập/ đăng kí';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,transparent 3%, #00e6f6 3%, #00e6f6 5% #ff0101 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path:var(--slice-0)
}
.cyber-btn:hover::after
{
    animation: 0.75s glitche;
    animation-timing-function: step(2,end);
}
.cart:hover .preview-cart
{
    display: block;

}
@keyframes glitche{
    0%
    {
        clip-path: var(--slice-1);
        transform: translate(-20px,-10px);
    }
    10%
    {
        clip-path: var(--slice-3);
        transform: translate(10px,10px);
    }
    20%
    {
        clip-path: var(--slice-1);
        transform: translate(-10px,10px);
    }
    30%
    {
        clip-path: var(--slice-3);
        transform: translate(0px,5px);
    }
    40%
    {
        clip-path: var(--slice-2);
        transform: translate(-5px,0px);
    }
    50%
    {
        clip-path: var(--slice-3);
        transform: translate(5px,0px);
    }
    60%
    {
        clip-path: var(--slice-4);
        transform: translate(5px,10px);
    }
    70%
    {
        cli-path: var(--slice-2);
        transform: translate(-10px,10px);
    }
    80%
    {
        clip-path: var(--slice-5);
        transform: translate(20px,-10px);
    }
    90%
    {
        clip-path: var(--slice-1);
        transform: translate(-10px,0px);
    }
    100%
    {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
    
}



.box img{
    z-index: 1;
}


.catalog
{
    background-color: #f8f005;
    height: 75px;
  padding: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
   
    text-transform: uppercase;
}
.catalog li
{
   border: 5px solid;
   text-align: center;
  background-color: #ff0101;
  transition: 0.3s;
}
.catalog li:hover
{
    transform: translate(0,-7px);
}
.product img{
    padding: 10px;
}

.product
{
   
  
    background-color:rgb(0, 0, 0);
   
    text-align: center;
   margin: 10px;
    
    overflow: hidden;
   border: #f7ed02 3px solid;
}
.product h2{
    border: red solid 3px;
    color:  red;
    padding: 5px 0px;
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.133);
}
.product h3{
    color: white;
    padding: 10px 0;
    border-top: rgba(255, 255, 255, 0.318) solid 1px;
}
.product h4{
    color: red;
    padding: 10px 0;
}
.product:hover
{
    transition: 0.3s;
    transform: scale(1.05,1.05);
}
.product img
{
    height: 150px;
    width: 250px;
}


.content ul li{
    display: inline-block;
    
   
}
.content ul{
  
    margin: 20px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto auto;
}





.banner img
{
    width: 100vw;
}
.banner
{
 border-top: #00e6f6 solid;  
 border-bottom: #00e6f6 solid;
   
    
}
.row
{
    padding: 0 100px;
}
.row h2
{
    color: white;
    text-align: center;
    padding: 10px;
  
}
.content h1{
    color: white;
    font-size: 25px;
    width: auto;
    padding: 10px;
    background-color: #ff010192;
    border-radius: 0px 20px 0px 20px;
    text-align: center;
    margin: 20px auto;
}
.slideshow
{
    position: relative;
    overflow: hidden;
    height: 840px;
    width: 100vw;
   
    margin: auto;
   
   

}
.slideshow img{
    width: 100vw;
}
.slideshow .slide
{
    z-index: 1;
   
    border-radius: 5px;
    position: absolute;
    clip-path: inset(0 100% 0 0);
}
.slideshow .slide.active
{
    transition: all 2s;
    clip-path: inset(0 0 0 0);
}

.slideshow .info 
{
    position: absolute;
    top:0;
    padding: 15px 30px;
    color: white;
}
.slideshow .info h2{

    color:white;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800px;
    letter-spacing: 2px;
}
.slideshow .info p 
{
    color:white;
    background-color: rgba(0,0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.slideshow .navigation
{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slideshow .navigation .btn{
    background: rgba(254, 254, 254, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.slideshow .navigation .btn.active
{
    background: rgba(254, 254, 254, 0.853);
}

#added
{
    color: red;
}

body{
    background-image: url(https://media0.giphy.com/media/Q9aBxHn9fTqKs/giphy.gif?cid=ecf05e47s8akiy042lklfavmrsfvocubh0pb3kmifr6w6r8c&ep=v1_gifs_related&rid=giphy.gif&ct=g)
}

footer ul 
{
   
    margin: 10px auto auto 0;
    padding: 20px;
   
}
footer ul li
{
    margin: 10px;
}
footer
{
    border-top: #00e6f6 solid;
    background-color: #f8f005;
    color: black;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0px;
    padding-bottom: 0;
}
footer h4{
    text-transform: uppercase;
    
}
footer .list
{
    border-bottom: #1c1e1e solid;
 
   
    display: flex;
    width: 80%;
    margin: auto;
}
footer .info
{
    width: 80%;
    margin: auto;
   
   
}
footer .list li:hover
{
    color:red;
}


#check-btn
{
    position: absolute;
  right: 20px;
  display: none;
  font-size: 60px;
}
#check
{
    display: none;
}
#check-btn
{
   font-size: 35px;
   padding: 10px;
}
input:checked ~ header .text
{
    display: block;
    transform: translateX(0);
}

.add-btn
{
    width: 100%;
    cursor: pointer;
    height: 30px;
    transform: translateY(20px);
    

}
.cart >img
{
 
    width: 26px;
    transform: translateY(10px);
  
}
.cart{
  
   
    height: 40px;
    width: 40px;
}

@media (max-width: 1320px) {
    #img-cart
    {
        display: none;
    }
    #text-cart
{
    display: block;
   
}

   .row
   {
    padding: 0;
   }
   #check-btn
   {
    display: block;
   }
  
   .search i
   {
       display: none;
   }
   .search input
   {
    width: 80%;
   }
    .logo
    {
        width: 300px;
    }
 
 
    .cyber-btn,.cyber-btn::after
    {
        font-size: 12px;
    }
    .content .product
    {
        width: 40vw;
        font-size: 12px;
        padding: 0;
      
    }
    
    
    .product img
    {
       width: 30vw;
       margin: 0;
       padding: 0;
        
    }
   .product
   {
     padding: 0px;
   }
 
    .content h1
    {
        font-size: 20px;
        width: auto;
    }
    .content h2
    {
        font-size: 10px;
        margin: auto;
    }
    .content h4
    {
       display: none;
    }
    .footer{
        font-size: 10px;
    }
   
   
  
    .content ul
    {
        width: 100vw;
        grid-template-columns: auto auto;
        gap: 5px;
     
    }
    header ul >li 
    {
       margin: 30px;
      
    }
    header li> a
    {
        font-size: 12px;
      
    }
    
    .slideshow img
    {
        width: 100vw;
       
    }

    .slideshow
    {
       height: 80vw;
        width: 100vw;
       
        top:75px;
       
       
    
    }

    .slideshow .navigation
    {
        bottom: 25px;
    }
    .slideshow .btn
    {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    .catalog ul
    {
        width: 100%;
    }
    .catalog li
    {
        font-size: 10px;
        border: 1px ;
        width: 90%;

    }

    .list{
        display: flex;
    }
    .slideshow .navigation
    {
        display: none;
    }
    .slideshow
    {
     top:75px;
     left: 0;
     right: 0;
    }
    header 
    {
        position: fixed;
        width: 100vw;
        padding: 0;
        z-index: 2;
    }
 
    header .text{
        width: 100vw;
        display: block;
        position: absolute;
        background-color: black;
        height: 100vh;
        z-index: 999;
        top:75px;
        transform: translateX(120%);
        border: #f8f005 solid;
        text-align: center;
        font-size: 12px;
        transition: all 0.5s;
    }
  
    header .text li a
    {
        color: white;
       font-size: 20px;
    }
    header .text li 
    {
        display: list-item;
        color: white;
        border-bottom: #00e6f6 solid;
        padding: 10px;
    }
    footer 
    {
        bottom: 0;
        font-size: 2vw;
        width: 100vw;
    }
    footer .info{
        font-size: 20px;
    }
    footer .list
    {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 20px;
       
    }
    
   
}





